.project-post-detail {
    padding-bottom: 4rem;
}

.project-hero {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 50vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(10, 10, 11, 0.3) 0%, rgba(10, 10, 11, 1) 100%);
}

.project-subtitle-large {
    font-size: 1.25rem;
    color: var(--text-secondary);
    margin-top: -1rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.project-links-meta .btn {
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
}